* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: table;
  width: 500px;
  height: 500px;
  background-color: #528cb6;
}

.content {
  display: table-cell;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  font-size: 10rem;
}