body {
  background-image: url(img.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  top: 180px;
  width: 500px;
  height: 120px;
  border: solid 10px #fff;
  box-shadow: 0 0 70px rgb(190, 40, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 120px;
  box-shadow: 0 0 5px rgba(190, 40, 210, .5);
  background-color: rgba(100, 30, 225, .4);
}

.container:hover {
  animation: light 1.5s;
}

@keyframes light {
  0%, 34%, 68%, 100% {
    border: solid 10px #fff;
    box-shadow: 0 0 70px rgba(136, 50, 198, 0.3);
  }
  17%, 51%, 85% {
    border: solid 10px rgba(179, 29, 169, 0.5);
    box-shadow: 0 0 90px rgba(255, 0, 140, 0.8);
  }
}

.text,
.text::before {
  z-index: 999;
  color: #fff;
  position: absolute;
  font-size: 65px;
  font-weight: 900;
  letter-spacing: 12px;
}

.text::before {
  content: 'Cyberpunk';
  text-shadow: -5px -5px 0px rgb(211, 250, 9), 5px, 5px, 0px rgb(25, 10, 240);
  clip-path: inset(100% 0px 0px 0px);
}

.container:hover .text::before {
  animation: move 1.5s steps(2);
}

@keyframes move {
  0% {
    clip-path: inset(80% 0px 0px 0px);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: inset(10% 0px 85% 0px);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: inset(80% 0px 0px 0px);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: inset(10% 0px 85% 0px);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: inset(50% 0px 30% 0px);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: inset(10% 0px 30% 0px);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: inset(40% 0px 30% 0px);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: inset(50% 0px 30% 0px);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: inset(80% 0px 5% 0px);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: inset(80% 0px 0px 0px);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: inset(80% 0px 0px 0px);
    transform: translate(0px, 0px);
  }
}