body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #262626;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 360px;
  background-color: #000;
}

.about {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  padding: 40px;
}

.about h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}

.box .figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.3px;
  width: 50%;
  height: 100%;
  background: url("./images/split-image.jpg") no-repeat;
  transform-origin: bottom;
  transition: 0.2s;
}

.box:hover .figure::before {
  transform: rotateX(90deg) translateY(50%);
}

.box .figure::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url("./images/split-image.jpg") no-repeat;
  background-position: -320px 0;
  transform-origin: top;
  transition: 0.2s;
}

.box:hover .figure::after {
  transform: rotateX(90deg) translateY(-50%);
}